@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-gray-50;
  }
  header {
    @apply sticky top-0 z-10 max-w-6xl p-8 mx-auto mt-8 bg-gray-50;
  }
  nav {
    @apply flex items-center justify-between gap-6;
  }
  main {
    @apply flex flex-col max-w-6xl gap-8 mx-auto sm:px-8;
  }
  section {
    @apply flex flex-col gap-8;
  }
  article {
    @apply flex flex-col flex-1 gap-6 p-8 bg-white shadow-lg sm:rounded-lg;
  }
  h1 {
    @apply px-8 text-lg font-medium text-gray-800 sm:px-0;
  }
  h2 {
    @apply font-medium text-gray-800;
  }
  h3 {
    @apply text-gray-800;
  }
  h4 {
    @apply text-gray-600;
  }
  h5 {
    @apply text-gray-800;
  }
  p {
    @apply text-gray-800;
  }
  a {
    @apply text-gray-800 transition-colors hover:text-gray-900;
  }
  svg {
    @apply text-gray-800;
  }
}

@layer utilities {
  #stints,
  #studies,
  #sidework {
    scroll-margin-top: 5.25rem;
  }
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-2000 {
    animation-delay: 4s;
  }
  .menu-item {
    @apply px-8 py-4 text-lg text-gray-700 transition-colors cursor-pointer hover:text-gray-800 hover:bg-gray-100;
  }
}
